
body {
  background-color: #51f803;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: orange;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#maldonado-image img {
  height: 100px;
  margin-top: 20px;

}
